ion-fab{

    position: relative;
}

.color{
    
   color: black;
   text-decoration: none;
}

.button-float{
    z-index: 12;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: fixed;
    bottom: 55px;
    right: 15px;
    border-radius: 50% !important; }