<style>
  .droit{ 
    text-align: right;
  }
  </style>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Commandes</ion-title>
    <ion-button slot="start" color="light">
      <ion-menu-button menu="main-menu"></ion-menu-button>
     </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="droit">
    <input  (input)="search()"  type="search" placeholder="Rechercher.." name="search" [(ngModel)]="searchInput">
    </div>

    <ion-list>

      <ion-item *ngFor="let data of commande">
        
        <ion-label>

        <b style="text-transform: uppercase;"> {{data.produit?.marque?.nom}} </b>
          {{data.quantite}}  
          <span class="badge bg-success" *ngIf="data?.status">Validé</span>
          <span class="badge bg-danger" *ngIf="!data?.status">Annulé</span> <br>

       <i>Client: {{data.client?.nom+' '}} {{data.client?.prenom}} </i> 
       
      </ion-label>
      <ion-button  (click)="openDetail(data)">+</ion-button>
      
       
      </ion-item>
    </ion-list>


    <ion-modal #modal trigger="open-modale">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title style="text-align: center;">Ajout</ion-title>
            <ion-buttons slot="end">
            </ion-buttons>
          </ion-toolbar>
          <form [formGroup]="form" (ngSubmit)="onCreate()">
            <div style="color: red;">{{error}}</div>
          <ion-list>
            <ion-item>
              <ion-select interface="action-sheet" placeholder="--CLIENT" [multiple]="false" formControlName="client">
                <ion-select-option  *ngFor="let tc of listeclients" [value]="tc.id">{{tc.nom +' '}}{{tc.prenom}}</ion-select-option>         
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-select interface="action-sheet" placeholder="PRODUIT" [multiple]="false" formControlName="produit" >
                <ion-select-option *ngFor="let tc of listeproduits " [value]="tc.id">{{tc.marque?.nom}}</ion-select-option>         
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-item fill="solid">
            <ion-label position="floating">Quantite</ion-label>
            <ion-input placeholder="Enter text" type="number" formControlName="quantite"></ion-input>
          </ion-item>
          <div style="color: green ;">{{bien}} </div>
          <ion-button color="danger" (click)="modal.dismiss()">Fermer</ion-button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <ion-button color="secondary" type="submit" [disabled]="form.invalid" >Valider</ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="button-float">
      <ion-fab-button >
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button id="open-modale" expand="badge">
          <ion-icon name="server-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>   
    
</ion-content>

