<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-icon name="close-outline" slot="start" routerLink="/aceuil"></ion-icon>
    <ion-icon name="bag-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/bg3.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/bg4.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/bg5.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/bg6.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/bgk.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/bg1.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <div class="product-info ion-padding" >

    <h1> Eau</h1>
    <p>Essivi Sarl est une societe specialiser dans la distribution d'eau en gros detail. 
    </p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
<ion-toolbar>
  <div class="footer">
    <div class="price">
      <span>
        F
        <h2> 500 </h2>
      </span>
    </div>
    <div class="card-button">
      <ion-button>
        Ajouter
      </ion-button>
    </div>
  </div>
</ion-toolbar>

</ion-footer>
